openapi: 3.1.0
info:
  title: Column Account Numbers Wire Transfers API
  description: 'Column is a chartered nationally-regulated bank purpose-built for developer

    APIs. The Column API provides programmatic access to entities, bank accounts,

    account numbers, ACH transfers, wire transfers, international wires, realtime

    (RTP/FedNow) transfers, book transfers, check transfers, counterparties,

    events, and webhooks. This best-effort OpenAPI was generated from the public

    documentation at https://docs.column.com/api and does not cover every field

    or sub-resource.

    '
  version: 1.0.0
  contact:
    name: Column
    url: https://column.com
  license:
    name: Proprietary
servers:
- url: https://api.column.com
  description: Column production API
security:
- basicAuth: []
tags:
- name: Wire Transfers
paths:
  /wire-transfers:
    get:
      tags:
      - Wire Transfers
      summary: List all wire transfers
      operationId: listWireTransfers
      responses:
        '200':
          description: List
    post:
      tags:
      - Wire Transfers
      summary: Create a wire transfer
      operationId: createWireTransfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireTransferCreate'
      responses:
        '200':
          description: Created
  /wire-transfers/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Wire Transfers
      summary: Retrieve a wire transfer
      operationId: getWireTransfer
      responses:
        '200':
          description: Wire transfer
components:
  schemas:
    WireTransferCreate:
      type: object
      required:
      - bank_account_id
      - counterparty_id
      - amount
      - currency_code
      properties:
        bank_account_id:
          type: string
        counterparty_id:
          type: string
        account_number_id:
          type: string
        amount:
          type: integer
        currency_code:
          type: string
        description:
          type: string
        allow_overdraft:
          type: boolean
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Column uses HTTP Basic Auth with your API key as the username.
