openapi: 3.1.0
info:
  title: Column Account Numbers Book Transfers API
  description: 'Column is a chartered nationally-regulated bank purpose-built for developer

    APIs. The Column API provides programmatic access to entities, bank accounts,

    account numbers, ACH transfers, wire transfers, international wires, realtime

    (RTP/FedNow) transfers, book transfers, check transfers, counterparties,

    events, and webhooks. This best-effort OpenAPI was generated from the public

    documentation at https://docs.column.com/api and does not cover every field

    or sub-resource.

    '
  version: 1.0.0
  contact:
    name: Column
    url: https://column.com
  license:
    name: Proprietary
servers:
- url: https://api.column.com
  description: Column production API
security:
- basicAuth: []
tags:
- name: Book Transfers
paths:
  /book-transfers:
    get:
      tags:
      - Book Transfers
      summary: List book transfers
      operationId: listBookTransfers
      responses:
        '200':
          description: List
    post:
      tags:
      - Book Transfers
      summary: Create a book transfer
      operationId: createBookTransfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sender_bank_account_id:
                  type: string
                receiver_bank_account_id:
                  type: string
                amount:
                  type: integer
                currency_code:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Created
  /book-transfers/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Book Transfers
      summary: Retrieve a book transfer
      operationId: getBookTransfer
      responses:
        '200':
          description: Book transfer
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Column uses HTTP Basic Auth with your API key as the username.
