openapi: 3.1.0
info:
  title: Column Account Numbers Counterparties API
  description: 'Column is a chartered nationally-regulated bank purpose-built for developer

    APIs. The Column API provides programmatic access to entities, bank accounts,

    account numbers, ACH transfers, wire transfers, international wires, realtime

    (RTP/FedNow) transfers, book transfers, check transfers, counterparties,

    events, and webhooks. This best-effort OpenAPI was generated from the public

    documentation at https://docs.column.com/api and does not cover every field

    or sub-resource.

    '
  version: 1.0.0
  contact:
    name: Column
    url: https://column.com
  license:
    name: Proprietary
servers:
- url: https://api.column.com
  description: Column production API
security:
- basicAuth: []
tags:
- name: Counterparties
paths:
  /counterparties:
    get:
      tags:
      - Counterparties
      summary: List counterparties
      operationId: listCounterparties
      responses:
        '200':
          description: List
    post:
      tags:
      - Counterparties
      summary: Create a counterparty
      operationId: createCounterparty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                routing_number:
                  type: string
                account_number:
                  type: string
                account_type:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Created
  /counterparties/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Counterparties
      summary: Retrieve a counterparty
      operationId: getCounterparty
      responses:
        '200':
          description: Counterparty
    delete:
      tags:
      - Counterparties
      summary: Delete a counterparty
      operationId: deleteCounterparty
      responses:
        '200':
          description: Deleted
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Column uses HTTP Basic Auth with your API key as the username.
